<%- include("partials/header.ejs")%>


  <main class="form-signin">
    <form id="brandsFileUpload" action="<%= body.domain %>/brandsFileUpload" method="post" enctype="multipart/form-data">


      <% if(updates){%>
        <i><%= updates %></i>
      <%} else {%>
         <!-- <a href="/" class="btn btn-xs btn-outline-secondary "><i class="fas fa-home"></i> Home</a> -->
      <%}%>

      <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-1 fw-normal">Brand Capture</h1>
      <p><small>Upload the LOAD.XLSX file gotten from Dispactch <i class="fas fa-question"></i> </small></p>

      

      <label for="inputEmail" class="visually-hidden">Choose File</label>
      <div class="form-group mb-3">
        <input type="file" id="loadXLS" name="loadXLS" class="form-control" placeholder="loadXLS" required autofocus>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Upload <i class="fas fa-file-upload"></i></button>
      <p class="mt-5 mb-3 text-muted"><strong>&copy; RouteAssistant</strong> by ACED Devops 2020 | Triumph Courier Services
      </p>

    </form>

    <p class="fixed-bottom text-muted">
      By using this service you agree to have read and undertood our
      <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Disclaimer
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <p><b class="d-block">Disclaimer</b>
          We do not take responsiblity for poorly registered brands which may arise from uploading a file with the wrong format.
          This is a project still in the making and is not yet available for public use. Apply Caution.
        </p>
      </div>
    </div>
  </main>




  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </body>

  </html>